
body{
	font-family: 'Dosis', sans-serif;
	
}



.navbar {
   background-color: #b3e1f1;
   background: #b3e1f1;
   border-color: transparent;
}


.navbar-default .navbar-brand {

	color: #1c8a93;}


.navbar-brand{
	
	font-size: 32px;
	font-weight: bold;


}
.navbar{
	 margin-bottom:0;

}
   
#topList{
	text-align: right;
}


#topList{
	margin-bottom: 0;

}

#topList li {
	padding-left: 5px;
	padding-right: 5px;



}
.navbar>ul{
	color:#03363D;
	list-style: none;
}
.navbar ul li {
	list-style: none;
	display: inline;
}

/*dropdown from toplist toplist*/


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}





.btn-danger{
	background-color: #30aabc;
	border: 0px;
	border-radius: 0px;
	padding-left: 25px;
	padding-right: 25px;

}

a button{
	margin-top:0px;

}


.collapse li{
	font-size: 18px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	}

.navbar-default .navbar-nav>li>a {
    color: #03363D;
}
.sectionOne{
	background-image:url("shape-hero-background-v4.jpg");
	background-size: cover;
	background-position: center;
	margin-top: 0;
	padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

	}

.sectionOne{
	padding-top: 100px;
	padding-bottom: 200px;
}

.sectionOne p{
	font-size: 50px;
	color: #03363D;
	font-weight: 900;


}
.sectionOne h3{
	font-size: 30px;
	padding-bottom: 20px;
	}

.contain{
	width: 400px;



}

.btn1{
	 background-color: #1c8a93;
    border-radius: 0;
    border:3px solid  #1c8a93;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    padding-right:30px;
}

.btn2{

 background-color: transparent;
    
    border-radius: 0;
    border:3px solid #1c8a93;
    color: #1c8a93;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
     padding-left: 30px;
    padding-right:30px;
}

.btn2:hover{
	background-color: #1c8a93;
	color:white;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mod,.heading{
	text-align: center;


}

.mod input[type="password"], input[type="email"]{
	height:50px;
     width:300px;

}

.mod .btn{
	padding-left: 120px;
	padding-right: 120px;
	margin-top: 20px;
	border-radius: 0;



}
::-webkit-input-placeholder { /* WebKit browsers */
    padding-left: 10px;
    font-size: 20px;
     opacity: 1 !important;
}


.sectionTwo{
    padding-top: 80px;
    padding-bottom: 100px;
   
    background-color: #F5F5F5;
    text-align: center;

  }

.sectionTwo .container{
	max-width: 75%;


}

  .sectionTwo h1{
  	font-weight: bold;
  	color: #1c8a93;



  }


  .sectionTwo h4{
  	padding-top: 20px;
  	line-height: 25px;
  	padding-bottom: 30px;


  }

.sectionTwo i{
	font-size: 40px;
	padding-left: 40px;
	padding-right: 40px;



}

.sectionThree{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color:#03363d;
	color: white;
	font-size: 20px;


}


.sectionFour{
	padding-top: 180px;
	padding-bottom: 180px;
}

.sectionFour .adjust{
	text-align: center;
	padding-top: 50px;
}
.sectionFour .pic{
	text-align: center;


}

.adjust h3{
	font-size: 40px;
	color:#03363d;
	font-weight: bold;
}


.adjust p {
	font-size: 30px;



}

/*.sectionFive{
	padding-top: 150px;
	padding-bottom: 150px;
	
	text-align: center;
}*/

.sectionFive{
	background: url('second.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 80px;
	padding-bottom: 450px;
	text-align: center;
}
.sectionFive h3{
	color:#03363D;
	font-size: 40px;
	padding-bottom: 20px;

}

.sectionFive p{

	color:#03363D;
	font-size: 20px;
	padding-bottom: 20px;

}

.sectionFive .btn{
	border-radius: 0;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #1c8a93;
	color: white;
	border:none;




}
.sectionFive input{
	margin: 0 auto;
	
}


.sectionFive input[type="text"], input[type="email"]{
	height:50px;
     width:300px;
     margin-bottom: 20px;
     border: none;
}

.sectionSix{
	text-align: center;
	/*padding-bottom: 100px;
*/

}
.sectionSix p{
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 40px;
	font-weight: 600;


}
.sectionSix button{
	padding-left: 30px;
	padding-right: 30px;
	background-color: transparent;
	font-size: 30px;
	color: #30aabc;
	border:2px solid #30aabc;
	border-radius: 0;
	margin-top: 30px;
	margin-bottom: 40px;



}

.sectionSix button:hover{
	color:white;
	background: #30aabc;}



footer{
	background-color: #03363D;
	padding-left: 40px;
	padding-bottom: 40px;
	padding-top: 20px;


}

footer ul {
	margin-top: 30px;
	


}


footer ul li{
	display: inline; 
	list-style: none;
	color: white;
	font-size: 30px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 30px;


}



.fixed{
	position: fixed;
	top: 85%;
	left: 80%;

}
.fixedB{
	background-color: red;
	font-size: 40px;


}